.search-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 3;
}

input {
  text-indent: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.selected {
  border-color: rgb(20, 110, 190);
}
