---
import Layout from "../../layouts/Layout.astro";
const { word } = Astro.params;
if (!word) {
  window.location.href = "/";
}

let response = await fetch(`${import.meta.env.BACKEND}api/word/${word}`);
let wordDefinition = await response.json();
---

<Layout title="" word="''">
  <main class="">{wordDefinition.definition} {wordDefinition.word}</main>
</Layout>
